.e41_803 { 
	overflow:hidden;
}
.e41_803 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e41_804 { 
	
	width:1500px;
	height:1000.1370849609375px;
	position:static;
	left:4000.488236427307129px;
	top:100.3118286132812px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e226_20 { 
	width:43px;
	height:20px;
	position:absolute;
	left:1163px;
	top:689px;
	background-image:url(images/american_express_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e205_141 { 
	background-color:rgb(20, 18, 18);
	width:809px;
	height:617px;
	position:absolute;
	left:123px;
	top:214px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e205_177 { 
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:29px;
	position:absolute;
	left:154px;
	top:518px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e205_157 { 
	color:rgb(255, 255, 255);
	width:138px;
	height:28px;
	position:static;
	left:1054px;
	top:628px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e205_156 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:28px;
	position:absolute;
	left:1063px;
	top:549px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e205_155 { 
	color:rgba(255, 255, 255, 1);
	width:206px;
	height:28px;
	position:absolute;
	left:1029px;
	top:470px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e205_154 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:28px;
	position:absolute;
	left:1050px;
	top:388px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e205_142 { 
	background-color:rgb(20, 18, 18);
	width:334px;
	height:617px;
	position:absolute;
	left:965px;
	top:210px;
	border-radius:10px;
}
.e226_19 { 
	width:37px;
	height:22px;
	position:absolute;
	left:1062px;
	top:688px;
	background-image:url(images/visa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e205_161 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:39px;
	position:absolute;
	left:798px;
	top:733px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e342_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:752px;
	height:3px;
	position:absolute;
	left:154px;
	top:712.5px;
}
.e205_162 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:39px;
	position:absolute;
	left:697px;
	top:733px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e205_163 { 
	width:274px;
	height:404px;
	position:absolute;
	left:984px;
	top:372px;
}
.e205_164 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e205_164 { 
	width:274px;
	height:56.23869705200195px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:62px;
	border-top-right-radius:62px;
	border-bottom-left-radius:62px;
	border-bottom-right-radius:62px;
}
.e205_165 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e205_165 { 
	width:274px;
	height:56.23869705200195px;
	position:absolute;
	left:0px;
	top:83.01908874511719px;
	border-top-left-radius:62px;
	border-top-right-radius:62px;
	border-bottom-left-radius:62px;
	border-bottom-right-radius:62px;
}
.e205_166 { 
	background-color:rgba(250.94921976327896, 250.94921976327896, 250.94921976327896, 1);
	width:122px;
	height:49.73869323730469px;
	position:absolute;
	left:76px;
	top:354.26129150390625px;
	border-top-left-radius:62px;
	border-top-right-radius:62px;
	border-bottom-left-radius:62px;
	border-bottom-right-radius:62px;
}
.e205_167 { 
	color:rgba(0, 0, 0, 1);
	width:139px;
	height:28.422109603881836px;
	position:absolute;
	left:68px;
	top:365.4271240234375px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e205_168 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e205_168 { 
	width:274px;
	height:55.82914733886719px;
	position:absolute;
	left:0px;
	top:164.4422149658203px;
	border-top-left-radius:62px;
	border-top-right-radius:62px;
	border-bottom-left-radius:62px;
	border-bottom-right-radius:62px;
}
.e205_169 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e205_169 { 
	width:274px;
	height:55.82914733886719px;
	position:absolute;
	left:0px;
	top:245.6482391357422px;
	border-top-left-radius:62px;
	border-top-right-radius:62px;
	border-bottom-left-radius:62px;
	border-bottom-right-radius:62px;
}
.e205_170 { 
	color:rgba(255, 255, 255, 1);
	width:484px;
	height:39px;
	position:absolute;
	left:881px;
	top:288px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e205_171 { 
	color:rgba(255, 255, 255, 1);
	width:245px;
	height:39px;
	position:absolute;
	left:398px;
	top:236px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e205_172 { 
	transform: rotate(-9.354279000446725deg);
	width:179.62252807617188px;
	height:121.60838317871094px;
	position:absolute;
	left:166px;
	top:370.195556640625px;
	background-image:url(images/27a54416351a7f64d3f211f6e803ed07_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e205_175 { 
	color:rgba(255, 255, 255, 1);
	width:103px;
	height:39px;
	position:absolute;
	left:787px;
	top:401px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e205_176 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:29px;
	position:absolute;
	left:265px;
	top:312px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e205_178 { 
	width:207px;
	height:159px;
	position:absolute;
	left:161px;
	top:540px;
	background-image:url(images/wallpaperflare_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e205_179 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:29px;
	position:absolute;
	left:166px;
	top:312px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e226_16 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:24px;
	position:absolute;
	left:238px;
	top:675px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e226_17 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:24px;
	position:absolute;
	left:631px;
	top:675px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e205_183 { 
	width:300px;
	height:157px;
	position:absolute;
	left:517px;
	top:535px;
	background-image:url(images/jupiter_5263284_1280_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e205_184 { 
	color:rgba(255, 255, 255, 1);
	width:108px;
	height:39px;
	position:absolute;
	left:797px;
	top:605px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e342_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:752px;
	height:3px;
	position:absolute;
	left:157px;
	top:480.5px;
}
.e211_155 { 
	width:1440px;
	height:92px;
	position:absolute;
	left:0px;
	top:0px;
}
.e211_156 { 
	background-color:rgba(15.740494821220636, 23.059153854846954, 36.32421925663948, 1);
	width:1440px;
	height:92px;
	position:absolute;
	left:0px;
	top:0px;
}
.e211_158 { 
	color:rgba(255, 255, 255, 1);
	width:242px;
	height:25px;
	position:absolute;
	left:96px;
	top:33px;
	font-family:Laila;
	text-align:left;
	font-size:22.399999618530273px;
	letter-spacing:0;
}
.e211_159 { 
	width:246.99996948242188px;
	height:21.00006866455078px;
	position:absolute;
	left:983.66845703125px;
	top:46.5936279296875px;
}
.e211_160 { 
	color:rgba(255, 255, 255, 1);
	width:48px;
	height:21px;
	position:absolute;
	left:198.99996948242188px;
	top:0.00006866455078125px;
	font-family:Mulish;
	text-align:center;
	font-size:16.517822265625px;
	letter-spacing:0;
}
.e211_161 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:21px;
	position:absolute;
	left:93px;
	top:0px;
	font-family:Mulish;
	text-align:center;
	font-size:16.517822265625px;
	letter-spacing:0;
}
.e211_162 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:center;
	font-size:16.517822265625px;
	letter-spacing:0;
}
.e211_163 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:32px;
	position:absolute;
	left:1262px;
	top:41px;
	font-family:Mulish;
	text-align:center;
	font-size:16.520000457763672px;
	letter-spacing:0;
}
.e202_149 { 
	width:1440px;
	height:71px;
	position:absolute;
	left:0px;
	top:953px;
}
.e202_150 { 
	background-color:rgba(16.48120142519474, 27.66142699867487, 41.63671799004078, 1);
	width:1440px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.e202_151 { 
	color:rgba(255, 255, 255, 1);
	width:411.9999694824219px;
	height:28.59722137451172px;
	position:absolute;
	left:642.0003662109375px;
	top:35.5px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e202_152 { 
	width:680.9999389648438px;
	height:29.58333396911621px;
	position:absolute;
	left:414.0003662109375px;
	top:5.916748046875px;
}
.e202_153 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6.999999523162842px;
	height:7.888888835906982px;
	position:absolute;
	left:149.0001220703125px;
	top:12.8193359375px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e202_154 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6.999999523162842px;
	height:7.888888835906982px;
	position:absolute;
	left:488.9998474121094px;
	top:12.8193359375px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e202_155 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6.999999523162842px;
	height:7.888888835906982px;
	position:absolute;
	left:288.9995422363281px;
	top:12.8193359375px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e202_156 { 
	color:rgba(255, 255, 255, 1);
	width:162.00001525878906px;
	height:14.791666984558105px;
	position:absolute;
	left:329.0001220703125px;
	top:8.875px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e202_157 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:16.76388931274414px;
	position:absolute;
	left:187.9999542236328px;
	top:6.90283203125px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e202_158 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:26.625px;
	position:absolute;
	left:517.9999389648438px;
	top:2.958251953125px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e202_159 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:29.58333396911621px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e226_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:220px;
	height:6px;
	position:absolute;
	left:370px;
	top:612px;
}
.e226_18 { 
	width:38px;
	height:24px;
	position:absolute;
	left:1112px;
	top:687px;
	background-image:url(images/card_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
