<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/aboutus.css')}}" />
  <title>About Us</title>
</head>
<body>
  <div>
    <link href="./aboutus.css" rel="stylesheet" />
    <div class="aboutus-container">
      <div class="aboutus-aboutus">
        <img
          src="../static/image_10.png"
          alt="image104179"
          class="aboutus-image10"
        />
        <span class="aboutus-text">
          <span>
            Picture yourself as the captain of your own destiny, choosing from an
            array of sleek, high-tech spaceships that are as unique as you are.
            Will you glide through the rings of Saturn in the elegant Stardust
            Voyager or explore the crimson plains of Mars aboard the robust
            Olympus Star clipper? The choice is yours to make.
          </span>
        </span>
        <img
          src="../static/fighter.png"
          alt="fighter2024613128012081"
          class="aboutus-fighter202461312801"
        />
        <div class="aboutus-footer">
          <span class="aboutus-text02"><span>© 2007–2023, Aviasales</span></span>
          <div class="aboutus-footer1">
            <img
              src="/rectangle1782141-ou85j-200w.png"
              alt="Rectangle1782141"
              class="aboutus-rectangle178"
            />
            <img
              src="/rectangle1802141-hgni-200w.png"
              alt="Rectangle1802141"
              class="aboutus-rectangle180"
            />
            <img
              src="/rectangle1792141-yvqg-200w.png"
              alt="Rectangle1792141"
              class="aboutus-rectangle179"
            />
            <span class="aboutus-text04"><span>Privacy Policy</span></span>
            <span class="aboutus-text06"><span>Support</span></span>
            <span class="aboutus-text08"><span>Cookie policy</span></span>
            <span class="aboutus-text10"><span>Terms of use</span></span>
          </div>
        </div>
        <div class="aboutus-header">
          <span class="aboutus-text12"><span>Space Odyssey</span></span>
          <div class="aboutus-group1">
            <span class="aboutus-text14"><span>About</span></span>
            <span class="aboutus-text16"><span>Contact</span></span>
            <span class="aboutus-text18"><span>Home</span></span>
          </div>
          <span class="profile-button"><span class="home-text20"><span>My profile</span></span>      
        </div>
      </div>
    </div>
  </div>
</body>
