<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/home.css')}}" />
  <title>Home</title>
</head>
<body>
  <div>
    <link href="./homepage.css" rel="stylesheet" />
    <div class="homepage-container">
      <div class="homepage-homepage">
        <img
          src="../static/wallpaperflare.com_wallpaper.png"
          alt="wallpaperflarecomwallpaper11372"
          class="homepage-wallpaperflarecomwallpaper1"
        />
        <span class="homepage-text"><span>About</span></span>
        <span class="homepage-text02"><span>Contact</span></span>
        <span class="homepage-text04"><span>Home</span></span>
        <span class="homepage-text06"><span>Space Odyssey</span></span>
        <span class="homepage-text08">
          <span>
            Unleash Your Galactic Dreams: Embark on Interplanetary Adventures with
            Our Seamless Travel App! Explore, Book, and Experience the Universe
            Like Never Before 🚀✨
          </span>
        </span>
        <div class="homepage-buttonhome">
          <!-- <a href="{{ url_for('book_flight') }}" class="book-flight-button"><span class="home-text10"><span>Book a flight</span></span></a>           -->
        </div>
        <img
          src="../static/LogoSample_ByTailorBrands.png"
          alt="LogoSampleByTailorBrands811372"
          class="homepage-logo-sample-by-tailor-brands81"
        />
        <!-- <a href="{{ url_for('profile') }}" class="profile-button"><span class="home-text12"><span>My profile</span></span></a> -->
        <!-- <a href="{{ url_for('explore_planets') }}" class="explore-planets-button"><span class="home-text14"><span>Explore planets</span></span></a> -->
        <div class="homepage-group135">
          <img
            src="/line381373-00f.svg"
            alt="Line381373"
            class="homepage-line38"
          />
          <img
            src="/line391373-dm88.svg"
            alt="Line391373"
            class="homepage-line39"
          />
        </div>
        <div class="homepage-footer">
          <span class="homepage-text16"><span>© 2007–2023, Aviasales</span></span>
          <div class="homepage-footer1">
            <img
              src="/rectangle1781373-3sjm-200w.png"
              alt="Rectangle1781373"
              class="homepage-rectangle178"
            />
            <img
              src="/rectangle1801373-nkr-200w.png"
              alt="Rectangle1801373"
              class="homepage-rectangle180"
            />
            <img
              src="/rectangle1791373-g0j-200w.png"
              alt="Rectangle1791373"
              class="homepage-rectangle179"
            />
            <span class="homepage-text18"><span>Privacy Policy</span></span>
            <span class="homepage-text20"><span>Support</span></span>
            <span class="homepage-text22"><span>Cookie policy</span></span>
            <span class="homepage-text24"><span>Terms of use</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
