.loginpage-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .loginpage-loginpage {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .loginpage-wallpaperflarecomwallpaper1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1024px;
    position: absolute;
  }
  .loginpage-rectangle1 {
    top: 709.2666015625px;
    left: 86px;
    width: 182px;
    height: 50px;
    position: absolute;
    border-radius: 62px;
  }
  .loginpage-group21 {
    top: 469px;
    left: 827px;
    width: 429px;
    height: 240px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .loginpage-rectangle2 {
    top: 0px;
    left: 0px;
    width: 429px;
    height: 55px;
    position: absolute;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
  }
  .loginpage-rectangle3 {
    top: 82px;
    left: 0px;
    width: 429px;
    height: 55px;
    position: absolute;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
  }

  input::placeholder{
    color:white;
    text-align: center;  
  }

  .loginpage-rectangle5 {
    top: 187px;
    left: 120px;
    width: 190px;
    height: 53px;
    position: absolute;
    border-radius: 62px;
    font-size: 20px;
  }
  .loginpage-text {
    top: 199px;
    left: 167px;
    color: rgba(0, 0, 0, 1);
    width: 95px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text02 {
    top: 14.527009963989258px;
    left: 14.852941513061523px;
    color: rgba(255, 255, 255, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text04 {
    top: 96.84673309326172px;
    left: 29.705883026123047px;
    color: rgba(255, 255, 255, 1);
    width: 136px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text06 {
    top: 35px;
    left: 1143px;
    color: rgba(255, 255, 255, 1);
    width: 113px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text08 {
    top: 35px;
    left: 1016px;
    color: rgba(255, 255, 255, 1);
    width: 105px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text10 {
    top: 35px;
    left: 908px;
    color: rgba(255, 255, 255, 1);
    width: 77px;
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-rectangle4 {
    top: 192.406494140625px;
    left: -1165px;
    width: 123px;
    height: 42px;
    position: absolute;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 62px;
  }
  /* .loginpage-rectangle51 {
    top: 23px;
    left: 1286px;
    width: 129px;
    height: 45px;
    position: absolute;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 62px;
    font-size: 15px;
    background-color: white;

  } */

  .btn {
    top: 23px;
    left: 1286px;
    width: 129px;
    height: 45px;
    position: absolute;
    background-color: white;
    color: black;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 62px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    
}


  .loginpage-text12 {
    top: 26px;
    left: 1306px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 23px;
    font-style: ExtraBold;
    text-align: center;
    font-family: Mulish;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-logo-sample-by-tailor-brands82 {
    top: 35px;
    left: 44px;
    width: 185px;
    height: 58px;
    position: absolute;
  }
  .loginpage-text14 {
    top: 389px;
    left: 827px;
    color: rgba(255, 255, 255, 1);
    width: 536px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-footer {
    top: 960px;
    left: 0px;
    width: 1440px;
    height: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(217, 217, 217, 1);
  }
  .loginpage-text16 {
    top: 32px;
    left: 641.9998168945312px;
    color: rgba(255, 255, 255, 1);
    width: 412px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-footer1 {
    top: 5.333370685577393px;
    left: 413.9999694824219px;
    width: 681px;
    height: 26.66666603088379px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .loginpage-rectangle178 {
    top: 11.555577278137207px;
    left: 149.00001525878906px;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 360px;
  }
  .loginpage-rectangle180 {
    top: 11.555577278137207px;
    left: 489.00006103515625px;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 360px;
  }
  .loginpage-rectangle179 {
    top: 11.555577278137207px;
    left: 289.0000915527344px;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 360px;
  }
  .loginpage-text18 {
    top: 7.999996662139893px;
    left: 329px;
    color: rgba(255, 255, 255, 1);
    width: 162px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text20 {
    top: 6.222206115722656px;
    left: 187.99989318847656px;
    color: rgba(255, 255, 255, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text22 {
    top: 2.6666259765625px;
    left: 517.9999389648438px;
    color: rgba(255, 255, 255, 1);
    width: 163px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .loginpage-text24 {
    color: rgba(255, 255, 255, 1);
    width: 149px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  