.e41_513 { 
	background-color:rgba(180.82422584295273, 180.82422584295273, 180.82422584295273, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e137_272 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(home_images/wallpaperflare_com_wallpaper_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e137_273 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:29px;
	position:absolute;
	left:1197px;
	top:48px;
	font-family:Mulish;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e137_274 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:29px;
	position:absolute;
	left:1065px;
	top:48px;
	font-family:Mulish;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e211_191 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:28px;
	position:absolute;
	left:945px;
	top:49px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e137_281 { 
	color:rgba(0, 0, 0, 1);
	width:834px;
	height:94px;
	position:absolute;
	left:584px;
	top:363px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e137_282 { 
	color:rgba(0, 0, 0, 1);
	width:851px;
	height:94px;
	position:absolute;
	left:584px;
	top:503px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e137_298 { 
	width:201px;
	height:52px;
	position:absolute;
	left:584px;
	top:627px;
}
.e137_277 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:201px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:62px;
	border-top-right-radius:62px;
	border-bottom-left-radius:62px;
	border-bottom-right-radius:62px;
}
.e137_277 { 
	border:1px;
	color: rgba(255, 255, 255, 1);
}
.e137_284 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:27.925926208496094px;
	position:absolute;
	left:27px;
	top:11.55555534362793px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e137_285 { 
	width:185px;
	height:58px;
	position:absolute;
	left:35px;
	top:35px;
	background-image:url(home_images/LogoSample_ByTailorBrands.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e137_297 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:32px;
	position:absolute;
	left:1311px;
	top:45px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e137_299 { 
	color:rgba(0, 0, 0, 1);
	width:289px;
	height:50px;
	position:absolute;
	left:865px;
	top:645px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e209_227 { 
	width:30px;
	height:29px;
	position:absolute;
	left:1100px;
	top:640px;
}
.e137_300 { 
	border:3px solid rgba(255, 255, 255, 1);
}
.e137_300 { 
	width:30px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e137_303 { 
	transform: rotate(21.270061146620293deg);
	width:16.241540908813477px;
	height:0px;
	position:absolute;
	left:8px;
	top:8px;
}
.e137_303 { 
	border:3px solid rgba(255, 255, 255, 1);
}
.e137_304 { 
	transform: rotate(156.25841512846887deg);
	width:14.914117813110352px;
	height:0.725644052028656px;
	position:absolute;
	left:21.960975646972656px;
	top:13.843106269836426px;
}
.e137_304 { 
	border:3px solid rgba(255, 255, 255, 1);
}
.e137_370 { 
	width:1440px;
	height:65px;
	position:absolute;
	left:0px;
	top:959px;
}
.e137_371 { 
	background-color:rgba(16.48120142519474, 27.66142699867487, 41.63671799004078, 1);
	width:1440px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_372 { 
	color:rgba(255, 255, 255, 1);
	width:411.9999694824219px;
	height:26.18055534362793px;
	position:absolute;
	left:642px;
	top:32.5px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e137_373 { 
	width:680.9994506835938px;
	height:27.08333396911621px;
	position:absolute;
	left:414.0002136230469px;
	top:5.416748046875px;
}
.e137_374 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6.999999523162842px;
	height:7.222222328186035px;
	position:absolute;
	left:148.9996795654297px;
	top:11.736083984375px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e137_375 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6.999999523162842px;
	height:7.222222328186035px;
	position:absolute;
	left:488.999755859375px;
	top:11.736083984375px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e137_376 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6.999999523162842px;
	height:7.222222328186035px;
	position:absolute;
	left:288.9996032714844px;
	top:11.736083984375px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e137_377 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:13.541666984558105px;
	position:absolute;
	left:328.99969482421875px;
	top:8.125px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e137_378 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:15.347222328186035px;
	position:absolute;
	left:187.99989318847656px;
	top:6.319580078125px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e137_379 { 
	color:rgba(255, 255, 255, 1);
	width:162.99998474121094px;
	height:24.375px;
	position:absolute;
	left:517.9994506835938px;
	top:2.708251953125px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e137_380 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:27.08333396911621px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
a {
	text-decoration: none;
	color: rgb(0, 0, 0);
  }